<header class="image-bg steps-ptn">
  <div class="col-sm-12">
    <h1>
      <strong>{{$scope.currGenre.title}}</strong>
    </h1>
    <p class="lead">This is the about me sub-header</p>
  </div>
<!-- <img class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo" alt=""> -->
</header>

<div class="row">
  <div class="col-sm-12">
    <div class="list-group">
      <a ng-repeat="blog in $scope.blogs" href="{{entry.title.href}}" class="list-group-item" target="_blank">
        {{entry.title.text}}
      </a>
    </div>
  </div>
</div>
